/*
  NAME:
  DATE:
  SECTION/TA:

  INSERT 2-3 SENTENCE DESCRIPTION OF FILE HERE
 */

body, button, select, input {
  text-align: center;
  font-size: 12pt;
  font-family: Helvetica, Verdana, sans-serif;
}

main {
  width: 80%;
  margin: auto;
}

button, select {
  padding: 8px;
  background-color: white;
  border: 2pt solid black;
}

h2 {
  text-decoration: underline;
  font-size: 16pt;
}

#start-btn {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#menu-view > article {
  background-color: #6F77ED;
  border-radius: 0.35em;
  border: 5pt solid black;
  color: white;
}
